.costs {
  padding: 1rem;
  background-color: #cfd3d5;
  margin: 2rem auto;
  width: 70rem;
  max-width: 95%;
}
.costs:hover {
  cursor: default;
}
.empty-year {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
}
